// Generate random for assets suffix
- var dsTimeStamp = new Date().toJSON().match(/[0-9]/g).join('')

// general head
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
meta(charset="utf-8")
title Dashboard - DeepShare Admin
meta(name="description", content="overviw &amp; stats")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

// bootstrap &amp; fontawesome
link(rel="stylesheet", href="/assets/v2/css/bootstrap.css?_=#{dsTimeStamp}")
link(rel="stylesheet", href="/assets/v2/css/bootstrap-datepicker.min.css?_=#{dsTimeStamp}")
link(rel="stylesheet", href="/assets/v2/css/metisMenu.min.css?_=#{dsTimeStamp}")
link(rel="stylesheet", href="/assets/v2/css/sb-admin-2-deepdash.css?_=#{dsTimeStamp}")
link(rel="stylesheet", href="/assets/v2/css/font-awesome.css?_=#{dsTimeStamp}")
link(rel="stylesheet", href="/assets/v2/css/deepshare.css?_=#{dsTimeStamp}")
link(rel="stylesheet", href="/assets/v2/css/nav.css?_=#{dsTimeStamp}")
link(rel="stylesheet", href="/assets/v2/css/sidebar.css?_=#{dsTimeStamp}")
link(rel="stylesheet", href="/assets/v2/css/monokai-sublime.min.css?_=#{dsTimeStamp}")
link(rel="shortcut icon", href="/assets/v2/images/favicon.ico")
link(rel="Bookmark", href="/assets/v2/images/favicon.ico")

